/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Sofia+Sans:ital,wght@0,1;0,400;0,500;0,600;1,200;1,300&display=swap');

/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

/* Estilo da seção que contém a imagem e o texto */
section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 150px 10px;
    flex-direction: row; /* Alinhamento padrão: imagem ao lado do texto */
}

.logoano img {
    max-width: 500px; /* Ajuste o tamanho da imagem conforme necessário */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

section h1 {
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    line-height: 1.5;
    color: #ffffff; /* Cor do texto */
}

/* Estilo da navegação */
nav {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    padding: 10px 20px;
    position: fixed; /* Fixa a navegação no topo */
    top: 0;
    width: 100%; /* Ocupa toda a largura da página */
    z-index: 1000; /* Garante que a navegação fique acima do restante do conteúdo */
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
}

nav li {
    height: 60px;
}

nav li:first-child {
    margin-right: auto;
}

nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #8275fc;
}

/* Estilo do ícone */
.icon {
    fill: #ffffff;
}

/* Estilo do logotipo */
.logotipo {
    font-weight: bold;
    font-size: 18px;
}

/* Estilo da barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 280px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    padding: 20px;
}

/* Estilos responsivos */
@media (max-width: 800px) {
    section {
        flex-direction: column; /* Alinha a imagem acima do texto no mobile */
        padding: 20px; /* Ajusta o padding para dispositivos móveis */
        text-align: center; /* Centraliza o texto para dispositivos móveis */
    }

    .logoano img {
        margin-right: 0; /* Remove o espaçamento lateral da imagem no mobile */
        margin-bottom: 10px; /* Adiciona um espaçamento inferior entre a imagem e o texto */
    }

    .hideMobile {
        display: none;
    }
}

@media (min-width: 800px) {
    .hideDesktop {
        display: none;
    }
}

/* Estilo do conteúdo principal */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000000;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.content p {
    max-width: 400px;
    margin: 20px 0;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    color: #ffffff;
}

.footer-content a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    transition: text-decoration 0.3s ease;
}

.footer-content a:hover {
    text-decoration: underline;
}
