@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Sofia+Sans:ital,wght@0,1;0,400;0,500;0,600;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url("/projeto-distrito-ipitinga-front-end/src/img/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    font-family: "Poppins";  
    color: #fff;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 60px;
}

nav li:first-child{
    margin-right: auto;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
}


.icon{
    fill: #fff;
}

.logotipo{
    font-weight: bold;
    font-size: 18px;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 280px;
    z-index: 999;
    background-color: rgba(255,255,255, 0.2);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}


@media (max-width: 800px){
    .hideMobile{
        display: none;
    }
}

@media (min-width: 800px){
    .hideDesktop{
        display: none;
    }
}

.content{    
    display: flex;
    justify-content:center;
    align-items: center;
    height: 90vh;
    color: #fff;
    flex-direction: column;
    text-align: center;    
}

.content p{    
    max-width: 400px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-content a:hover {
    text-decoration: underline;
}